  <div id="card-container">
    <p id="questionId" hidden></p>
    <div id="card-header">
      <div id="card-title-container">
        <div id="card-title"></div><div id="card-time"></div>
      </div>
      <p id="company-name"></p>
      <div id="card-title-line"></div>
      <p id="question-title"></p>
    </div>    
    <div id="card-alternatives">
      <button id="answer-btn0" class="card-alternative-btn" ></button>
      <button id="answer-btn1" class="card-alternative-btn" ></button>
      <button id="answer-btn2" class="card-alternative-btn" ></button>
      <button id="answer-btn3" class="card-alternative-btn" ></button>
      <button id="answer-btn4" class="card-alternative-btn" ></button>
    </div>
</div>

