<link rel="stylesheet" href="/stylesheets/authStyles.css">

<div id="content">
  <div id="auth-container">
    <figure>
      <img src="../images/purplese-logo-original.png" />
    </figure>
    <div id="btn-container">
      <a class="link-btn wb" href="/user/login">Sou candidato</a>
      <a class="link-btn wb" href="/company/login">Sou contratante</a>
    </div>
  </div>
</div>