<a href="/user/profile">Back to profile</a>

<link rel="stylesheet" href="/stylesheets/confirmationCode.css">

<div class="container">
<div class="jumbotron text-xs-center text-center margin">
  <h1 class="display-3">Hey!</h1>
  <p class="lead">{{message}}</p>
  <p class="lead">
    <a id="button" class="btn btn-primary btn-sm" href="/user/profile/{{user._id}}/processes" role="button">Go to processes</a>
  </p>
  <hr>
  <p>
    Having trouble? <a href="#">Contact us</a>
  </p>
</div>
</div>