<link rel="stylesheet" href="/stylesheets/confirmationCode.css">

<div class="container">
<div class="jumbotron text-xs-center text-center margin">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">{{message}}</p>
  <p class="lead d-flex justify-content-center">
    <a id="button" class="link-btn pb" href="/user/login" style="width: 200px" role="button">Continue to login</a>
  </p>
  <hr>
  <p>
    Having trouble? <a href="#">Contact us</a>
  </p>
</div>
</div>