<form action="/user/cv" method="post">
<label for="" name="">Name</label>
<input type="text">
<label for="" name="">Last Name</label>
<input type="text">
<label for="" name="">Date of birth</label>
<input type="text">
<label for="" name="">Marital status</label>
<input type="text">
<label for="" name="">CPF</label>
<input type="text">
<label for="" name="">Nationality</label>
<input type="text">

<label for="" name="">street</label>
<input type="text">
<label for="" name="">Number</label>
<input type="text">
<label for="" name="">District</label>
<input type="text">
<label for="" name="">City</label>
<input type="text">
<label for="" name="">State</label>
<input type="text">
<label for="" name="">country</label>
<input type="text">
<label for="" name="">Zip code</label>
<input type="text">

<label for="" name="">Professional resume</label>
<input type="text">
<label for="" name="">Degree</label>
<input type="text">
<label for="" name="">Institution</label>
<input type="text">
<label for="" name="">Field of study</label>
<input type="text">
<label for="" name="">Start Date</label>
<input type="text">
<label for="" name="">End Date</label>
<input type="text">

<label for="" name="">Idiom</label>
<input type="text">
<label for="" name="">level</label>
<input type="text">

<label for="" name="">Professional experince</label>
<input type="text">
<label for="" name="">Company name</label>
<input type="text">
<label for="" name="">Occupation</label>
<input type="text">
<label for="" name="">Start date</label>
<input type="text">
<label for="" name="">End date</label>
<input type="text">
<label for="" name="">Description</label>
<input type="text">
</form>