<link rel="stylesheet" href="/stylesheets/authStyles.css">

  <div id="content"> 
    <div id="auth-container"> 
      <figure>
        <img src="/images/purplese-logo-original.png" />
      </figure>
    <form action="/user/login" method="POST">
    <div id="input-container">
      <input type="email" id="inputEmail"  placeholder="Email address" required autofocus
      name="username">
      <input type="password" id="********" placeholder="Password" required name="password">
    </div>
    <div id="login-btn-container">
      <input class="link-btn pb" type="submit" value="Login" />
      <a class="link-btn-little wb" href="/user/signup">Signup</a>
    </div>

    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}
  </form>
  </div>
</div>

