<link rel="stylesheet" href="/stylesheets/authStyles.css">

<div id="content">
    <div id="auth-user-container">
        <h5>Register</h5>
        <form action="/user/signup" method="POST">
            <input type="text" id="inputUserame" placeholder="Username" required autofocus name="username">
            <input type="text" id="inputUserame" placeholder="CPF" required autofocus name="cpf">                        
            <input type="email" id="inputEmail" placeholder="Email address" required name="email">
            <input type="password" id="inputPassword" placeholder="Password" required name="password">
            <input type="password" id="inputConfirmPassword" placeholder="Repeat your password" required name="confirmPassword">
            <input type="submit" class="link-btn pb" value="Register" />
        <p>{{message}}</p>
        <a class="link-btn-little wb" href="/user/login">Login</a>
        </form>
    </div>
</div>