<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../public/stylesheets/card.css">
</head>
<body>

<div id="card-container">
  <div>Teste de autoconhecimento</div><div>00:30</div>
  <div>----</div>
  <div><p>Não me arrependeria do meu comportamento se tivesse que tirar vantagem de alguém impulsivamente</p></div>
  <div id="alternatives">
    <div class="alternative"><a class="alternative-btn" href="">Oi</a></div>
    <div class="alternative"><a class="alternative-btn" href="">Oi</a></div>
    <div class="alternative"><a class="alternative-btn" href="">Oi</a></div>
    <div class="alternative"><a class="alternative-btn" href="">Oi</a></div>
    <div class="alternative"><a class="alternative-btn" href="">Oi</a></div>
  </div>
</div> 
</body>
</html>
