<link rel="stylesheet" href="../../../stylesheets/companyProfile.css">

<div id="content-passchange">
<form id="pass-change-form" action="/company/profile/credentials/save" method="POST">
<h2>Password change</h2>

  <input type="password" name="oldPassword" placeholder="Current password" required/>
  <input type="password" name="password" placeholder="New password" required/>
  <input type="password" name="rptPassword" placeholder="Confirm new password" required/>
  <input class="link-btn pb" type="submit" value="Change password" />
</form>
{{#if errorMessage}}
  <p class="errorMessage">{{errorMessage}}</p>
{{/if}}

{{#if successMessage}}
  <p class="successMessage">{{successMessage}}</p>
{{/if}}

<a class="link-btn-little wb" href="/company/profile">Back</a>
</div>
