<link rel="stylesheet" href="../../stylesheets/companyProfile.css">

<div id="content">
    <div id="auth-user-container">
      <h5>Register</h5>
      <form action="/company/signup" method="POST">
        <input type="text" name="name" placeholder="Name" required/>
        <input type="text" name="ein" placeholder="Employer Identification Number" required/>
        <input type="email" name="email" placeholder="Corporate e-mail" required/>

        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <input type="password" name="rptpassword" placeholder="Repeat your password" required/>

        <input class="link-btn pb" type="submit" value="Sign up" />      
        <a class="link-btn-little wb" href="/company/login">Login</a>
      {{#if message}}
      <p class="errorMessage">{{message}}</p>
      {{/if}}
      </form>
    </div>
</div>


<link rel="stylesheet" href="/stylesheets/authStyles.css">